# Import Modules

In [1]:
import pandas as pd
import numpy as np

# Forest

## Convert Excel Sheet to a Single Excel

In [2]:
# Import the data from Excel file
excel_data=pd.ExcelFile("Bird_Monitoring_Data_FOREST.XLSX")

#There are multiple sheets inside the excel, we need to combine that together

sheet_names=excel_data.sheet_names #Stores sheet names as a list

#Converting Sheet names and corresponding data into Key:Value pairs in a dictionary
sheets_dict={sheet :excel_data.parse(sheet) for sheet in sheet_names}

#Loops through rows to add data source(Corresponding sheet) and combines the dataset by stacking vertically
combine_df=pd.concat(
    [df.assign(sheet=sheet_name) for sheet_name,df in sheets_dict.items()],
    ignore_index=True
)

#removes the source column as an equivalent column already exists and stores the data into a dataframe
df = combine_df.drop(columns=['sheet'])

## Handling Missing data

In [3]:
df.shape # To identify the data structure

(8546, 29)

There are 8546 rows and 29 columns in the dataset.

In [4]:
#Check the NULLs distribution in each column
df.isnull().sum()

Admin_Unit_Code                   0
Sub_Unit_Code                  7824
Site_Name                         0
Plot_Name                         0
Location_Type                     0
Year                              0
Date                              0
Start_Time                        0
End_Time                          0
Observer                          0
Visit                             0
Interval_Length                   0
ID_Method                         1
Distance                         92
Flyover_Observed                  0
Sex                            5183
Common_Name                       0
Scientific_Name                   0
AcceptedTSN                       9
NPSTaxonCode                      0
AOU_Code                          0
PIF_Watchlist_Status              0
Regional_Stewardship_Status       0
Temperature                       0
Humidity                          0
Sky                               0
Wind                              0
Disturbance                       0
Initial_Three_Min_Cnt             0
dtype: int64

In [5]:
# Find columns with more than 70% nulls
null_cols = df.columns[df.isnull().sum() > (8546*0.7)]
len(null_cols) # No.of columns with more than 70% NULLS

1

In [6]:
# Drop them from the DataFrame
df = df.drop(columns=null_cols)
df.shape

(8546, 28)

In [7]:
#Store columns containing NULLs
null_col = df.columns[df.isnull().sum() > 0]

# Impute the NULLs with Mode value of each column
for col in null_col:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [8]:
#Check the NULLs distribution in each column
df.isnull().sum()

Admin_Unit_Code                0
Site_Name                      0
Plot_Name                      0
Location_Type                  0
Year                           0
Date                           0
Start_Time                     0
End_Time                       0
Observer                       0
Visit                          0
Interval_Length                0
ID_Method                      0
Distance                       0
Flyover_Observed               0
Sex                            0
Common_Name                    0
Scientific_Name                0
AcceptedTSN                    0
NPSTaxonCode                   0
AOU_Code                       0
PIF_Watchlist_Status           0
Regional_Stewardship_Status    0
Temperature                    0
Humidity                       0
Sky                            0
Wind                           0
Disturbance                    0
Initial_Three_Min_Cnt          0
dtype: int64

In [9]:
#check for duplicates
df.duplicated().sum()

4

In [10]:
#Remove the Duplicates 
df = df.drop_duplicates()

In [11]:
df.shape

(8542, 28)

# Grass Land

## Convert Excel Sheet to a Single Excel

In [12]:
# Import the data from Excel file
excel_data2=pd.ExcelFile("Bird_Monitoring_Data_GRASSLAND.XLSX")

#There are multiple sheets inside the excel, we need to combine that together

sheet_names2=excel_data2.sheet_names #Stores sheet names as a list

#Converting Sheet names and corresponding data into Key:Value pairs in a dictionary
sheets_dict2={sheet :excel_data2.parse(sheet) for sheet in sheet_names2}

#Loops through rows to add data source(Corresponding sheet) and combines the dataset by stacking vertically
combine_df2=pd.concat(
    [df2.assign(sheet=sheet_name2) for sheet_name2,df2 in sheets_dict2.items()],
    ignore_index=True
)

#removes the source column as an equivalent column already exists and stores the data into a dataframe
df2 = combine_df2.drop(columns=['sheet'])

## Handling Missing data

In [13]:
df2.shape # To identify the data structure

(8531, 29)

In [14]:
#Check the NULLs distribution in each column
df2.isnull().sum()

Admin_Unit_Code                   0
Sub_Unit_Code                  8531
Plot_Name                         0
Location_Type                     0
Year                              0
Date                              0
Start_Time                        0
End_Time                          0
Observer                          0
Visit                             0
Interval_Length                   0
ID_Method                         1
Distance                       1394
Flyover_Observed                  0
Sex                               0
Common_Name                       0
Scientific_Name                   0
AcceptedTSN                      24
TaxonCode                         2
AOU_Code                          0
PIF_Watchlist_Status              0
Regional_Stewardship_Status       0
Temperature                       0
Humidity                          0
Sky                               0
Wind                              0
Disturbance                       0
Previously_Obs                    0
Initial_Three_Min_Cnt             0
dtype: int64

In [15]:
# Find columns with more than 70% nulls
null_cols2 = df2.columns[df2.isnull().sum() > (8546*0.7)]
len(null_cols2) # No.of columns with more than 70% NULLS

1

In [16]:
# Drop them from the DataFrame
df2 = df2.drop(columns=null_cols2)
df2.shape

(8531, 28)

In [17]:
#Store columns containing NULLs
null_col2 = df2.columns[df2.isnull().sum() > 0]

# Impute the NULLs with Mode value of each column
for col in null_col2:
    df2[col].fillna(df2[col].mode()[0], inplace=True)

In [18]:
#Check the NULLs distribution in each column
df2.isnull().sum()

Admin_Unit_Code                0
Plot_Name                      0
Location_Type                  0
Year                           0
Date                           0
Start_Time                     0
End_Time                       0
Observer                       0
Visit                          0
Interval_Length                0
ID_Method                      0
Distance                       0
Flyover_Observed               0
Sex                            0
Common_Name                    0
Scientific_Name                0
AcceptedTSN                    0
TaxonCode                      0
AOU_Code                       0
PIF_Watchlist_Status           0
Regional_Stewardship_Status    0
Temperature                    0
Humidity                       0
Sky                            0
Wind                           0
Disturbance                    0
Previously_Obs                 0
Initial_Three_Min_Cnt          0
dtype: int64

In [19]:
#check for duplicates
df2.duplicated().sum()

1705

In [20]:
#Remove the Duplicates 
df2 = df2.drop_duplicates()

In [21]:
df2.shape

(6826, 28)

In [22]:
df.nunique().sort_index()

AOU_Code                       108
AcceptedTSN                    107
Admin_Unit_Code                 11
Common_Name                    108
Date                            57
Distance                         2
Disturbance                      4
End_Time                       283
Flyover_Observed                 2
Humidity                       302
ID_Method                        3
Initial_Three_Min_Cnt            2
Interval_Length                  4
Location_Type                    1
NPSTaxonCode                   108
Observer                         3
PIF_Watchlist_Status             2
Plot_Name                      408
Regional_Stewardship_Status      2
Scientific_Name                108
Sex                              2
Site_Name                       70
Sky                              5
Start_Time                     282
Temperature                    160
Visit                            2
Wind                             4
Year                             1
dtype: int64

In [23]:
df2.nunique().sort_index()

AOU_Code                       107
AcceptedTSN                    106
Admin_Unit_Code                  4
Common_Name                    107
Date                            26
Distance                         2
Disturbance                      4
End_Time                       276
Flyover_Observed                 2
Humidity                       325
ID_Method                        3
Initial_Three_Min_Cnt            2
Interval_Length                  4
Location_Type                    1
Observer                         3
PIF_Watchlist_Status             2
Plot_Name                      201
Previously_Obs                   1
Regional_Stewardship_Status      2
Scientific_Name                107
Sex                              3
Sky                              5
Start_Time                     273
TaxonCode                      105
Temperature                    188
Visit                            3
Wind                             4
Year                             1
dtype: int64

We can see mots of the columns are common in both. So let's get rid of the non-common columns and combine the datasets

In [24]:
# Get common columns
common_cols = df.columns.intersection(df2.columns)

# Keep only those columns in both DataFrames
df = df[common_cols]
df2 = df2[common_cols]

In [25]:
# Combine both the datasets

combined_df = pd.concat([df, df2], ignore_index=True)

In [26]:
# Check for NULLs
combined_df.isnull().sum()

Admin_Unit_Code                0
Plot_Name                      0
Location_Type                  0
Year                           0
Date                           0
Start_Time                     0
End_Time                       0
Observer                       0
Visit                          0
Interval_Length                0
ID_Method                      0
Distance                       0
Flyover_Observed               0
Sex                            0
Common_Name                    0
Scientific_Name                0
AcceptedTSN                    0
AOU_Code                       0
PIF_Watchlist_Status           0
Regional_Stewardship_Status    0
Temperature                    0
Humidity                       0
Sky                            0
Wind                           0
Disturbance                    0
Initial_Three_Min_Cnt          0
dtype: int64

In [27]:
# Check for Duplicates

combined_df.duplicated().sum()

0

In [28]:
#Save Combined data for further analysis using Power BI

combined_df.to_csv("BirdsData.csv",index=False)

<h2 style="text-align: center;">-- End of Data Cleaning --</h2>